html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body  {
	background: #fefefe;
}

h1 {
	color: darkgreen;
	padding: 16px;
}

h2 {
	color: #1460AA;
}

.czerwony {
	color: red;
}

#szkolenie {
	background: yellow;
	padding: 16px;
}




section {
	padding: 16px;
}

footer {
	padding: 16px;
}


.my-article {
	color: hotpink !important;
}

.my-article p {
	background: #1460AA;
	color: #fff;
	padding: 16px;
}

#name {
	color: red;
}

.about {
	color: #a20041;
}

header {
}

.navigation {
	padding: 16px;
	background: blue;
}


.navigation__link {
	color: white;
}

.section {
	background: #dcdcdc;
	margin-bottom: 16px;
}

.section__header {
	margin-left: 64px;
	color: #044550;
}


.section__header--special {
	color: tomato;
}

